/* Basic */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    background-color: #313a3d;
    background-attachment: fixed,						fixed;
    background-image: url("images/overlay.png"), url("../../images/bg.jpg");
    background-position: top left,					center center;
    background-repeat: repeat,						none;
    background-size: auto,						cover;

}

html.is-preload *, html.is-preload *:before, html.is-preload *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

html.is-touch {
    height: 100vh;
    overflow: hidden;
}

    html.is-touch #wrapper {
        -webkit-backface-visibility: hidden;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translate3d(0, 0, 0);
        height: 100vh;
        overflow: auto;
    }

body, input, select, textarea {
    color: #6f7577;
    font-family: "Raleway", "Helvetica", sans-serif;
    font-size: 15pt;
    font-weight: 400;
    line-height: 1.75em;
}
h1, h2, h3, h4, h5, h6 {
    color: #61686b;
    font-weight: 800;
    letter-spacing: 0.075em;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}